<% include ../partials/header %>


<div class="profile-head">
	<div class="title">
		<h3>Add a photo of <%= tmpFriend.name %></h3>
	</div>
    <span class="required-field">*Required Field</span>
</div>



<form action="/create/new/friend/<%= tmpFriend._id %>" method="POST" class="login-form" enctype="multipart/form-data">
    <div>
        <span class="required">*JPG or PNG</span>
        <input type="file" name="photo" id="file-upload" class="required" required>
        <label for="file-upload"><span><i class="fa fa-file-image-o" aria-hidden="true"></i> Select A Photo</span></label>
    </div>
    <input type="submit" value="Submit">
</form>







<script>
    function fileUploader() {
    	var fileInput = document.getElementById("file-upload");
    	fileInput.addEventListener('change', function(e) {
    		var inputLabel	= fileInput.nextElementSibling,
    			labelVal	= inputLabel.innerHTML,
    			fileName	= e.target.value.split("C:\\fakepath\\").pop();
    		if(fileName) {
    			inputLabel.querySelector("span").innerHTML = fileName;
    		} else {
    			inputLabel.innerHTML = labelVal;
    		}
    	});		
    }
    fileUploader();
</script>

<% include ../partials/footer %>