<% include ../partials/header %>


<div class="profile-head">
	<div class="title">
		<h3>Add a photo of <%= friend.name %></h3>
	</div>
    <span class="required-field">*Required Field</span>
</div>




    <form action="/<%= friend.url %>/<%= friend._id %>/upload" method="POST" class="login-form" enctype="multipart/form-data">
        <span class="required">*JPG or PNG</span>
        <input type="file" name="photo" id="file-upload">
        <label for="file-upload"><span><i class="fa fa-file-image-o" aria-hidden="true"></i> Select A Photo</span></label>
        <input type="submit" value="Upload">
    </form>
    





<script>
    $(document).ready(function(){
        fileUploader();
    })
</script>

<% include ../partials/footer %>