<% include ./partials/header %>


<div class="profile-head">
	<div class="title">
		<h2>Reset Password</h2>
	</div>
</div>


	<form action="/forgotpassword" method="POST" class="login-form block head-pad">
		<div class="trans-input">
			<input required type="text" name="email" class="ipt-ani" id="username">
			<label for="username" class="lbl-ani">Enter Email</label>
		</div>
		<input type="submit" value="Reset" class="block">
	</form>
	
			
<% include ./partials/footer %>		