<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto+Condensed:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
		<!--<link href="/stylesheets/landing.css" type="text/css" rel="stylesheet">-->
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<!-- <script type="text/javascript" src="/js/index.js"></script> -->

	</head>
	<body>


		<div id="landing-background">
			<div id="landing-layer">
				<h1>Twin City Friends</h1>
				<p>Where best friends meet</p>
				<a href="/feed/1" id="landing-enter">
					<span>Enter</span>
				</a>
			</div>

		</div>












	</body>
</html>
