<% include ./partials/header %>


<div class="profile-head">
	<div class="title">
		<h2>New Password</h2>
	</div>
</div>


	<form action="/resetpassword/<%= token %>" method="POST" class="login-form block head-pad">
		<div class="trans-input">
			<input required type="password" name="password" class="ipt-ani" id="password">
			<label for="password" class="lbl-ani">New Password</label>
		</div>
		<div class="trans-input">
			<input required type="password" name="passwordConfirm" class="ipt-ani" id="passwordConfirm">
			<label for="passwordConfirm" class="lbl-ani">Confirm Password</label>
		</div>
		<input type="submit" value="Reset" class="block">
	</form>
	
			
<% include ./partials/footer %>		