<!DOCTYPE html>
<html>
    <head>
        <title>New Message</title>
    </head>
    <body>
        <div id="header">
            <h1>Twin City Friends</h1>
        </div>
        <h4>{{ recipient.firstName }} has sent you a message on TC Friends: </h4><br />

        <p>{{ message }}</p>
    </body>
    
</html>